<div class="main-frame-container">
    <div class="d-flex justify-content-center" style="margin-top:25px;">
        <img [src]="profilePhoto" alt="Photo" class="circle-photo">
    </div>
    <div class="row" style="margin-top:25px;">
        <div class="col-md-12">
            <label>Display Name:</label>
            <input type="text" disabled class="form-control" [(ngModel)]='this.profile.displayName'>
        </div>
    </div>
    <div class="row" style="margin-top:25px;">
        <div class="col-md-4">
            <label>UPN:</label>
            <input type="text" disabled class="form-control" [(ngModel)]='this.profile.userPrincipalName'>
        </div>
        <div class="col-md-4">
            <label>Location:</label>
            <input type="text" disabled class="form-control" [(ngModel)]="this.profile.officeLocation">
        </div>
        <div class="col-md-4">
            <label>GivenN Name:</label>
            <input type="text" disabled class="form-control" [(ngModel)]='this.profile.givenName'>
        </div>
    </div>
    <div class="row" style="margin-top:25px;">
        <div class="col-md-6">
            <label>Job Title:</label>
            <input type="text" disabled class="form-control" [(ngModel)]="this.profile.jobTitle">
        </div>
        <div class="col-md-6">
            <label>ID:</label>
            <input type="text" disabled class="form-control" [(ngModel)]="this.profile.id">
        </div>
    </div>
    <div class="row" style="margin-top:25px;">
        <div class="col-md-6">
            <label>Corporative Email:</label>
            <input type="text" disabled class="form-control" [(ngModel)]='this.profile.mail'>
        </div>
        <div class="col-md-6">
            <label>Mobile Phone:</label>
            <input type="text" disabled class="form-control" [(ngModel)]="this.profile.mobilePhone">
        </div>
    </div>
    <div class="row" style="margin-top:25px; padding-bottom: 25px;">
        <div class="col-md-12">
            <label>Address:</label>
            <textarea rows="3" class="form-control" disabled></textarea>
        </div>
        </div>
</div>