<div class="main-frame-container">
    <div class="row" style="margin-top:25px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Employee:</label>
            <input class="form-control" type="text" disabled [(ngModel)]="this.profile.mail">
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Location:</label>
            <select class="form-control">
                <option>-- None --</option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Vertical:</label>
            <select class="form-control">
                <option>-- None --</option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Start DateTime:</label>
            <input type="datetime-local" class="form-control">
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>End DateTime:</label>
            <input type="datetime-local" class="form-control">
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Total Time:</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Issue Type:</label>
            <select class="form-control">
                <option>-- None --</option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Details of Issue:</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Adjustment:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="col-md-4">
            <label>Action:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="d-flex justify-content-center" style="margin-top:25px; padding-bottom:25px;">
        <button class="form-control btn-outline-cxbutton">Submit</button>
    </div>
</div>