<div class="main-frame-container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert"
        style="display: none; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;">
        Submission succeeded!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="danger-alert"
        style="display: none; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;">
        Can't submit, make sure you input all the data
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row" style="margin-top:25px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Employee:</label>
            <input class="form-control" type="text" disabled [(ngModel)]="this.profile.mail" requiered>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Location:</label>
            <select class="form-control" [(ngModel)]="this.frmRes.location" requiered>
                <option *ngFor="let loc of locations">{{loc.name}}</option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Vertical:</label>
            <select class="form-control" [(ngModel)]="this.frmRes.vertical" requiered>
                <option *ngFor="let vert of verticals">{{vert.name}}</option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Start DateTime:</label>
            <input type="datetime-local" class="form-control" (change)="setStart(startDateTimeInput.value)"
                #startDateTimeInput requiered>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>End DateTime:</label>
            <input type="datetime-local" class="form-control" (change)="setEnd(endDateTimeInput.value)"
                #endDateTimeInput requiered>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Total Time:</label>
            <input type="text" class="form-control" disabled [(ngModel)]="this.frmRes.totalTime" disabled requiered>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Issue Type:</label>
            <select class="form-control" [(ngModel)]="this.frmRes.issueType" requiered>
                <option *ngFor="let issue of issueTypes">{{issue.name}}</option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Details of Issue:</label>
            <textarea class="form-control" rows="3" [(ngModel)]="this.frmRes.details" requiered></textarea>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Adjustment:</label>
            <select class="form-control" [(ngModel)]="this.frmRes.adjustment" requiered>
                <option>YES</option>
                <option>NO</option>
            </select>
        </div>
        <div class="col-md-4">
            <label>Action:</label>
            <select class="form-control" [(ngModel)]="this.frmRes.action" requiered>
                <option>YES</option>
                <option>NO</option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="d-flex justify-content-center" style="margin-top:25px; padding-bottom:25px;">
        <button class="form-control btn-outline-cxbutton" (click)="submitForm()">Submit</button>
    </div>
</div>